@import "variables";


body{
  display: flex;
  justify-content: center;
  height: 100%;
  background-color:#f1f1f1;
  font-family: "Poppins ExtraBold",sans-serif;
}
.main{
  height: 100%;
  width: 70%;
  padding: 2rem 0;
  input{
    width: 100%;
    height: 3rem;
    border-radius: 8px;
  }
  .users{
    box-sizing: border-box;
    margin: 2rem 0;
    width: 100%;
    border-radius: 8px;
    border: outset 2px  #ffffff45;
    background-color: #fefefe;
     overflow: hidden;
    div{
      position: relative;
      border-bottom: outset 1px #ffffff45;
      @include d-between;
      height: 4em;
      padding: 1em;

        img{

          border-radius: 50%;
          height: 3.5em;
          width: 3.5em;
        }
        p{
           left: 5rem;
          position: absolute;
          text-transform: capitalize;
        }

      a{
        text-decoration: none;
        color: #fefefe;
        background-color: #249ff2;
        padding: .5em;
        border-radius: 8px;
      }


    }
  }
}